// Rose pine original
* {
    font:           "JetBrains Mono Nerd Font 9";
    background:     #191724FF;  // base
    background-alt: #1f1d2eFF;  // surface
    foreground:     #e0def4FF;  // text
    red:            #9ccfd8FF;  // foam
    orange:         #f6c177FF;  // gold
    green:          #31748fFF;  // pine
    blue:           #eb6f92FF;  // love
    aqua:           #c4a7e7FF;  // iris
    color6:         #ebbcba;    // rose
}
